<!DOCTYPE html>
<html>
<head>

    <title>Pepa Y Bruno!</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">

</head>
<body>
<div class="heading-section">
Pepa Y Bruno

Your Favorite Internet Cats!
</div>

<div class="images">
</div>

<div class="links-to-socials">
Follow along for all your kitten content! 🐾
</div>

<div class="copyright-section">
Copyright © 2023 Pepa y Bruno - All Rights Reserved.


</div>

</body>
</html>

